[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
smart-open = "*"

[dev-packages]
bandit = "*"
black = "*"
coverage = "*"
freezegun = "*"
moto = "*"
mypy = "*"
pylama = {extras = ["all"], version = "*"}
pytest = "*"

[requires]
python_version = "3.9"
