[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
smart-open = "*"
timdex-dataset-api = {git = "git+https://github.com/MITLibraries/timdex-dataset-api.git"}

[dev-packages]
black = "*"
boto3-stubs = {extras = ["essential"], version = "*"}
coverage = "*"
freezegun = "*"
ipython = "*"
moto = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"

[requires]
python_version = "3.12"
