[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
smart-open = "*"

[dev-packages]
black = "*"
boto3-stubs = {extras = ["essential"], version = "*"}
coverage = "*"
freezegun = "*"
moto = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"

[requires]
python_version = "3.11"
